<div class="page-header">
  <%= link_to new_qrcode_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Qrcode
  <% end %>
  <h1>Listing qrcodes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Text to encode</th>
            <th>Size</th>
            <th>Level</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @qrcodes) do |qrcode| %>
            <td><%= qrcode.text_to_encode %></td>
            <td><%= qrcode.size %></td>
            <td><%= qrcode.level %></td>
            <td><%= link_to 'Show', qrcode %></td>
        <td><%= link_to 'Edit', edit_qrcode_path(qrcode) %></td>
        <td><%= link_to 'Destroy', qrcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
