
<div class="page-header">
  <%= link_to qrcodes_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All QR codes
  <% end %>
  <%= link_to edit_qrcode_path(@qrcode), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show qrcode</h1>
</div>

<dl class="dl-horizontal">
  <dt>Text to encode:</dt>
  <dd><%= @qrcode.text_to_encode %></dd>

  <dt>Version:</dt>
  <dd><%= @qrcode.size %></dd>

  <dt>Error Correction Level:</dt>
  <dd><%= @qrcode.level %></dd>

  <dt>QR Code:</dt>

</dl>

<br/>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= image_tag @qr_png %>
  </div>
</div>
